// *************************************
//
//   archive
//   -> Previous cracker archive
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.archive {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    display: none;


    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__item {
        display: inline-block;
        
        a { 
            padding: 10px;       
            text-decoration: none; 
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    [ui-archive="is-visible"] & {
        display: block;
    }

}