// *************************************
//
//   container
//   -> Width controller
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.container {

    // -------------------------------------
    //   Variables
    // -------------------------------------

    $container-narrow: 550px;
    $container-wide: 1024px;;

    
    max-width: $container-narrow;
    margin: 0 20px;
    
    @include breakpoint('child-bear'){
        margin: 0 auto;
    }
    
    // -------------------------------------
    //   Variations
    // -------------------------------------

    // ----- Variation description ----- // 

    &--wide {
        max-width: $container-wide;
    }

}