// *************************************
//
//   cracker
//   -> it's on the tin..
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.cracker {

    // -------------------------------------
    //   Variables & Base
    // -------------------------------------

    position: relative;
    margin: 5vh auto;
    width: 300px;
    height: 80px;
    cursor: pointer;
    overflow: hidden;
    
    @include breakpoint('child-bear'){
        margin: 5vh auto;
        width: 547px;
        height: 130px;
        overflow: visible;
    }
    
    // Only show page after fonts have loaded
    visibility: visible; 
    opacity: 1;
    transition: opacity .5s ease-in-out;
    transition-delay: .1s;
    
    .wf-loading & {
        visibility: hidden; 
        opacity: 0;
    }
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__left {
        position: absolute;
        top: 0;
        left: 3px;
        width: 154px;
        height: 67px;
        background-image: url('/images/cracker-left.png');
        background-size: cover;
        
        @include breakpoint('child-bear'){
            top: 0;
            left: 0;
            width: 286px;
            height: 123px;
        }
    }


    // ----- Element description ----- // 

    &__right {
        position: absolute;
        top: 7px;
        right: 3px;
        width: 161px;
        height: 65px;
        background-image: url('/images/cracker-right.png');
        background-size: cover;
        
        @include breakpoint('child-bear'){ 
            top: 14px;
            right: 0;
            width: 291px;
            height: 119px;
        }
    }


    // ----- Element description ----- // 

    &__date {
        position: absolute;
        top: 18px;
        left: 41.7%;
        
        @include breakpoint('child-bear'){
            top: 40px;
            left: 44%;
        }
    }




    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    [ui-cracker="is-hidden"] & { display: none; }

}