// *************************************
//
//   cracker
//   -> it's on the tin..
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.cracker {

    // -------------------------------------
    //   Variables & Base
    // -------------------------------------

    position: relative;
    margin: 5vh auto;
    width: 547px;
    height: 130px;
    cursor: pointer;
    
    // Only show page after fonts have loaded
    visibility: visible; 
    opacity: 1;
    transition: opacity .5s ease-in-out;
    transition-delay: .1s;
    
    .wf-loading & {
        visibility: hidden; 
        opacity: 0;
    }
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__left {
        position: absolute;
        top: 0;
        left: 0;
        width: 286px;
        height: 123px;
        background-image: url('/images/cracker-left.png');
    }


    // ----- Element description ----- // 

    &__right {
        position: absolute;
        top: 14px;
        right: 0;
        width: 291px;
        height: 119px;
        background-image: url('/images/cracker-right.png');
    }


    // ----- Element description ----- // 

    &__date {
        position: absolute;
        top: 40px;
        left: 44%;
        
    }




    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    [ui-cracker="is-hidden"] & { display: none; }

}