// *************************************
//
//   embed
//   -> Vimeo embed container
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.embed {

    // -------------------------------------
    //   Base
    // -------------------------------------

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 300;
    
    opacity: 0;
    visibility: hidden;
    transition: all .5s cubic-bezier(0, 0, 0.24, 0.85);
    
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__inner {
        position: relative;
        width: 90%;
        padding-bottom: 51.05%;
        
        @include breakpoint('teen-bear'){
            width: 80%;
            padding-bottom: 45.05%;
        }
        
        iframe {
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100%;
        }
    }


    // ----- Element description ----- // 

    &__close {
        display: block;
        position: absolute;
        top: -20px;
        left: 50%;
        width: 40px;
        height: 40px;
        margin-left: -20px;
        background-color: $g-sitecol-red;
        border-radius: 50%;
        z-index: 1;
        
        svg {
            color: white;
            width: 20px;
            height: 40px;
        }
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    [ui-video="is-playing"] & {
        opacity: 1;
        visibility: visible;
    }

}