// *************************************
//
//   header
//   -> Header section
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.header {

    // -------------------------------------
    //   Variables & Base
    // -------------------------------------

    margin: 10vh 0 0 0;
    
    // Only show page after fonts have loaded
    visibility: visible; 
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 1s cubic-bezier(0, 0, 0.24, 0.85);
    transition-delay: .1s;
    
    .wf-loading & {
        visibility: hidden; 
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    
    // -------------------------------------
    //   Elements
    // -------------------------------------


    // ----- Element description ----- // 

    &__title {
        
        margin-top: 4rem;
        
        > span {
            @include font-family("kepler");
            display: block;
            font-size: 1.8rem;
            line-height: 1.5rem;
            text-transform: initial;
        }
    }

    // ----- Element description ----- // 

    &__sub {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    // ----- Call to action ----- // 

    &__action {

        // Hide after cracker snapped
        [ui-cracker="is-hidden"] & { display: none; }
        
    }


    // -------------------------------------
    //   Variations
    // -------------------------------------


    // ----- Variation description ----- // 

    &--variation {}

}